# توکن ربات از @BotFather
BOT_TOKEN=

# آیدی یا یوزرنیم کانال (مثال: @mychannel)
CHANNEL_ID=@yourchannel

# آیدی عددی ادمین‌ها (اگر چند نفر هستن با کاما جدا کن)
ADMIN_IDS=123456789,987654321

# شماره کارت برای پرداخت
CARD_NUMBER=6037XXXXXXXXXXXX

# پورت Flask برای Render
PORT=8080
